@{
    ViewBag.Title = "Category";
}

@model IQueryable<TechStoreLibrary.Models.Entities.Category>


<h2>All Categories</h2>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <form action="/Category/Details" method="get" class="details-form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@category.Id" />
                <h3>@Html.ActionLink(category.Name, "Details", new { id = category.Id })</h3>
            </form>
        </li>
    }
</ul>